.main {
  max-height: 50vh;
}
.mainContent {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.punkHeighlight {
  display: flex;
  flex: 0.25;
  align-items: center;
  justify-content: center;
}
.punkContainer {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}
.punkDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
}
.selectedPunk {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}
.titleAndNumber {
  display: flex;
  align-items: center;
}
.title {
  font-size: 96px;
  font-weight: 800;
}
.titleNumber {
  color: #a1a5b0;
  font-size: 72px;
  align-items: center;
  margin-left: 20px;
}
.owner {
  display: flex;
  margin: 10px 0;
  height: 50px;
}
.owner > div {
  margin: 0 5px;
}
.ownerImageContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}
.ownerImageContainer > img {
  height: 100%;
  width: 100%;
}
.ownerDetails {
  display: flex;
  align-items: center;
  flex: 1;
}
.ownerNameAndHandle {
  display: flex;
  flex: 1;
}

.ownerHandle {
  color: #00ebfe;
}
.ownerLinks {
  display: flex;
}
.ownerLink {
  padding: 12px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: 1px solid #eee;
  margin: 0 0 0 10px;
}
.ownerLink > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .punkDetails {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    flex: 0.75;
  }
  .selectedPunk {
    object-fit: contain;
    max-width: min(30vw, 40vh);
    max-height: 30vh;
  }
  .titleAndNumber {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .title {
    font-size: 45px;
    font-weight: 600;
  }
  .titleNumber {
    font-size: 40px;
    margin-left: 10px;
    float: left;
  }
  .owner {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    height: 130px;
  }
  .owner > div {
    margin: 0;
    flex: 1;
  }
  .ownerImageContainer {
    height: 40px;
    width: 40px;
  }

  .ownerDetails {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
  }

  .ownerLink {
    padding: 10px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: 1px solid #eee;
    margin: 7px 0;
  }
}
